body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ecdefb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: #a696e7;
    border: 2px solid #cbb7e9;
}

.header{
    background: #a579d2;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #cbb7e9;
}

button{
    border-radius: 10px !important;
}